* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
font-family: 'Source Sans Pro', sans-serif;
}

html { 
font-size: 62.5%; 
scroll-behavior: smooth;	
}

html, body { width: 100%; }

h1 { font-size: 4.8rem; }
h2 { font-size: 4.0rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 0.8rem; }

p { font-size: 1.8rem; }

a { font-size: 1.8rem; cursor: pointer; }

.pre-container {
width: 100%;
}

.pre-home-container {
	background: #ffffff;
	width: 100%;
}

.home-container {
	max-width: 1280px;
	margin: 0 auto;
	color: #000000;
}

.home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 0rem 5rem;
	min-height: 100vh;
	width: 100%;
	color: #000000;
  position: relative;  
}

.modal {
  position: absolute;  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  display: none;
  transition: 0.3s ease;
}
.modal.modal-active {
  display: block;
}

.modal button svg {
  display: flex;
}

.modal .flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
}

.open-modal-btn {
  border: none;
  background: #000000;
  color: #ffffff;
  padding: 2rem;
  font-size: 2rem;
}

.modal .flex-div .content {  
  min-height: 50vh;
  width: 50%;
  background: #ffffff;
}

@media screen and (max-width: 728px) {
  .modal .flex-div .content {  
    min-height: 80%;
    width: 100%;
    background: #ffffff;
  }
}